
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li><a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
        <li><a class="nav-item nav-link" routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
        <li><a class="nav-item nav-link" routerLink="/ejemplo" routerLinkActive="active">Ejemplo</a></li>
        <li><a class="nav-item nav-link" routerLink="/directiva" routerLinkActive="active">Directivas</a></li>
        <li><a class="nav-item nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
        <li><a class="nav-item nav-link" routerLink="/articulo" routerLinkActive="active">Artículo</a></li>
      </div>
    </div>
  </nav>